<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" style="margin-left: 20px;" href="#">Shadow Governance</a>
    <div style="margin-left: auto;">
    <button mat-fab [matMenuTriggerFor]="menu" style="padding: 0%;border:0; width: 40; margin-right: 20px; background: 0%;" >
        <img class= "rounded-circle"
        [src]="'assets/profile.jpg'"
        [title]="'AdminProfile'"
        [style.width.px]=40
        >
        
    </button>
    
    <mat-menu #menu="matMenu">
        <div *ngIf='url!==userUrl && url!==baseUrl'>
        <!-- <button mat-menu-item >Dashboard</button>
        <button mat-menu-item>Profile</button> -->
        <button mat-menu-item [routerLink]="['user']">LogOut</button>
    </div>
    <div *ngIf='url===userUrl || url===baseUrl'>
        <button mat-menu-item (click)="onCreate()">Admin</button>
        <button mat-menu-item (click)="onPress()">Reporter</button>
    </div>
    </mat-menu>

    
</div>
</nav>
