<mat-card>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill" style="padding-left: 20px;">
      <mat-label>Search</mat-label>
      <input matInput   [ngModelOptions]="{standalone: true}"
      [(ngModel)]='listFilter'>
    </mat-form-field>
  </form>
  <h3 *ngIf='listFilter'>
    search results for: {{listFilter}}
  </h3>
      <mat-card style="margin:15px;">
      
          <button  class="btn btn-primary" (click)='openAddForm()'>
              Add Reporter
          </button>
      </mat-card>
    <div *ngFor ='let reporter of filteredReporters'>
        <mat-card style="margin:15px;">
            <mat-card-header>
            <div mat-card-avatar style="margin:12px;" >
                <img mat-card-image [src]='reporter.reporterProfile' alt="Photo of {{reporter.reporterName}}"
                style="max-width: 50px;">
            </div>
              <mat-card-title>{{reporter.reporterName}}</mat-card-title>
              <mat-card-subtitle>{{reporter.reporterLocation}}</mat-card-subtitle>
              <mat-card-actions  style="margin-left: auto;" align="end">
                <button mat-button style="margin-left: 40px;" class="btn btn-success">Edit</button>
                <button mat-button style="margin-left: 40px;"class="btn btn-danger" (click)='deleteReporter(reporter.id)'>Delete</button>
              </mat-card-actions>
            </mat-card-header>

          </mat-card>
    </div>
</mat-card>
